body {
 margin:0px;
 padding:0px;
 font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
}

a {
  color: #00B7FF;
}


.content {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

.product {
  border: 1px solid lightgray;
  margin: 5px;
  padding: 10px;
  border-radius:5px

}

.tag{
  font-size: small;
  color: gray;
}

.sale{
  color: green;
}

.lookingFor{
  color:red;
}

img {
  width: 120px;
  height: 140px;
}

.hidden {
  visibility: hidden;
}

.products-list {
  display:flex;
  flex-wrap: wrap;
}
