@import "https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css";


body {
 margin:0px;
 padding:0px;
 font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
}

a {
  color: #00B7FF;
}


.content {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

product {
  padding: 0 1rem 1rem 1rem;
}

.tag{
  font-size: small;
  color: gray;
}

.sale{
  color: green;
}

.lookingFor{
  color:red;
}

img {
  width: 120px;
  height: 140px;
  min-width: 120px;
  min-height: 140px;
  background-color: lightgrey;
}

.hidden {
  visibility: hidden;
}

.products-list {
  display:flex;
  flex-wrap: wrap;
}

/* new product or login */
.new-product {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.product-text {
  font-weight: bold;
  text-align: right;
}

.deleteButton {
  display: block;
  float: right;
  padding-bottom: 10px;
  color: grey;
}

.deleteButton:hover {
  color: black;
}