<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Nodepop</title>
</head>
<body>
    <div class="content">
        
          <div class="article">
            <img src="./images/bicicleta.jpeg" alt="Bicicleta">
            <p class="tag">lifestyle</p>
            <p>Bicicleta</p>
            <p><b>150€</b></p>
            <!-- <% if(product.sale) { %>
              <p class="sale"> En venta</p>
            <% } else {%>
              <p class="lookingFor">Se busca</p>
            <%}%>                             -->
          </div>
       
  </div>
  </div>
</body>
</html>